/*.take-action .facebook-connect-button, .take-action h2, .take-action form * {
  float: left;
  margin: 10px;
}*/

/*form#facebook-feed {
    margin-top: 10px;
    width: 400px;
}*/

/* align center */
.header, .sub-header, .take-action {
    text-align:center;
}

.sub-header {
    margin-top: -30px;
    color: #666;
    line-height: 30px;
}

.take-action {
    margin: 40px auto;
    line-height: 50px;
}

.take-action h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.take-action input {
    height: 25px;
    margin: 0;
}

.take-action .btn {
    height: 36px;
}

.hide {
    display:none;
}