/* line 16, ../sass/screen.scss */
body {
  font-family: Verdana;
}

/* line 20, ../sass/screen.scss */
.container {
  text-align: center;
}

/* line 24, ../sass/screen.scss */
.sub-header {
  margin-top: -30px;
  color: #666;
  line-height: 30px;
}

/* line 30, ../sass/screen.scss */
#step-wizard {
  display: inline-block;
  margin: 30px 0;
}
/* line 34, ../sass/screen.scss */
#step-wizard .step {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  height: 200px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #step-wizard .step {
  overflow-x: hidden;
}
/* line 38, ../sass/screen.scss */
#step-wizard .step.inactive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 42, ../sass/screen.scss */
#step-wizard .step.finished {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #step-wizard .step.finished {
  overflow-x: hidden;
}
/* line 46, ../sass/screen.scss */
#step-wizard .step .content p {
  color: #666;
  font-size: 11px;
}

/* line 53, ../sass/screen.scss */
.accordion {
  text-align: left;
}
