/* line 10, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 54px;
}

/* line 20, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 54px;
}

/* line 21, ../sass/screen.scss */
body {
  font-family: Verdana;
}

/* line 25, ../sass/screen.scss */
.container {
  text-align: center;
}

/* line 30, ../sass/screen.scss */
.header img {
  width: 100%;
  max-width: 512px;
}

/* line 36, ../sass/screen.scss */
.sub-header {
  margin-top: -30px;
  color: #666;
  line-height: 30px;
}

/* line 42, ../sass/screen.scss */
.btn-primary {
  font-size: 1.2em;
}

/* line 46, ../sass/screen.scss */
#step-wizard {
  display: inline-block;
  margin: 10px 0;
}
/* line 50, ../sass/screen.scss */
#step-wizard .step {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  pointer-events: none;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 147, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #step-wizard .step {
  overflow-x: hidden;
}
/* line 58, ../sass/screen.scss */
#step-wizard .step.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  pointer-events: auto;
}
/* line 63, ../sass/screen.scss */
#step-wizard .step.finished {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
}
/* line 147, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #step-wizard .step.finished {
  overflow-x: hidden;
}
/* line 67, ../sass/screen.scss */
#step-wizard .step .content p {
  color: #666;
  font-size: 11px;
}

/* line 75, ../sass/screen.scss */
.accordion {
  text-align: left;
}

/*
 *
 * Statistics module
 **/
/* line 86, ../sass/screen.scss */
.person {
  overflow: hidden;
  *zoom: 1;
}
/* line 89, ../sass/screen.scss */
.person .profile-image {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 50px;
}
/* line 96, ../sass/screen.scss */
.person .location {
  font-size: 0.7em;
  top: -10px;
  position: relative;
}
