@import "compass/css3/opacity";
@import "compass/css3/user-interface";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";

@mixin circle($radius: 40px) {
  display: inline-block;
  height: $radius;
  width: $radius;
  line-height: $radius;
  @include border-radius($radius * 3/4);
  color: black;
  border: 1px solid #666;
  text-align: center;
  font-size: $radius/2;
  @include transition-property(font-size, height, width, border-radius, line-height, margin);
  @include transition-duration(0.3s);
}

body {
  font-family: Verdana;
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 0;
}

.sub-header {
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.4em;
  margin-top: -22px;
  margin-bottom: 40px;
  // line-height: 20px;

  // iPhone Portrait and landscape modes
  @media only screen and (max-width: 320px) { font-size: 0.82em; margin-top: -10px;}
  @media only screen and (max-width: 480px) and (min-width: 321px) { font-size: 1.1em;}
}

.step-wizard {

  li {

    h3 {
      height: 50px;
      margin-bottom: 5px;
      span {
        margin-top: 15px;
        @include circle(30px);
      }
    }

    .button {
      background-color: #428bca;
      border: none;
      border-radius: 3px;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;

      &:hover {
        background-color: darken(#428bca, 8%);;
      }
    }

    // height: 200px;
    @include opacity(0.2);
    pointer-events: none;
    @include single-transition(opacity);
    @include user-select(none);

    &.active{
      @include opacity(1);
      pointer-events: auto;

      h3 {
        span {
          margin-top: 0px;
          @include circle(50px);
        }
      }
    }

    .content p {
      color: #666;
      font-size: 11px;
      margin-top: -17px;
    }

    &:last-child .content p{
      margin-top: inherit;
    }

  }
  @include clearfix();
}