@import "compass/css3/opacity";
@import "compass/css3/user-interface";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/layout/sticky-footer";

@mixin circle($radius: 40px, $duration: 0.5s) {
  display: inline-block;
  height: $radius;
  width: $radius;
  line-height: $radius;
  @include border-radius($radius * 3/4);
  text-align: center;
  @include transition-property(font-size, height, width, border-radius, line-height, margin, color, border);
  @include transition-duration($duration);
}

body {
  font-family: Verdana;
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 0;
}

.sub-header {
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 1.45em;
  margin-top: -5px;
  // margin-bottom: 40px;
  // line-height: 20px;

  // iPhone Portrait and landscape modes
  @media only screen and (max-width: 320px) { font-size: 0.82em; margin-top: -10px;}
  @media only screen and (max-width: 480px) and (min-width: 321px) { font-size: 1.1em;}
}

.container .step-wizard {
  margin: 60px 0;

  li {

    // non-active: opaque
    @include opacity(0.2);
    pointer-events: none;
    @include single-transition(opacity);
    @include user-select(none);

    // active: visible
    &.active{
      @include opacity(1);
      pointer-events: auto;

      h3 {
        span {
          margin-top: 0px;
          @include circle(50px);
          color: #000;
          border: 1px solid #666;
          font-size: 25px;
        }
      }
    }

    h3 {
      height: 50px;
      margin-bottom: 5px;
      span {
        margin-top: 15px;
        @include circle(30px);
        color: #000;
        border: 1px solid #666;
        font-size: 15px;
      }
    }

    .button {
      background-color: #428bca;
      border: none;
      border-radius: 3px;
      height: 45px;
      line-height: 45px;
      padding: 0 15px;
      margin-bottom: 0;

      &:hover {
        background-color: darken(#428bca, 8%);
      }
    }

    // text below buttons
    .content p {
      color: #666;
      font-size: 11px;
    }

    // like button in step 3
    .fb-like {
      height: 45px;
      img {
        height: 40px;
      }
    }
  }
  @include clearfix();
}

#pages {
  display: block;

  h2 {
    text-align: left;
    font-size: 1em;
  }

  .page-content {
    font-size: 0.8em;
    text-align: justify;
  }
}

@include sticky-footer(40px);
#footer {
  li {
    text-align: center;
    a {
      color: #666;
      font-size: 0.8em;
      text-decoration: none;
      border-bottom: 2px solid #fff;
      @include transition-property(color, border-bottom);
      @include transition-duration(0.5s);

      .symbol {
        font-weight:bold;
      }

      &:hover {
        color: darken(#666, 20%);
      }

      &.active {
        border-bottom: 2px solid #444;
        color: #333;
      }
    }

  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
