// HighCharts popup
.person {
    clear: both;

    .profile-image {
        float: left;
        margin-right: 5px;
        margin-bottom: 10px;
        width: 50px;
    }

    .location {
        font-size: 0.7em;
        top: -10px;
        position: relative;
    }
}