<div class="event {{name}}">
  <div class="large-2 small-4 columns setting">
    <div class="switch small round">
      <input id="{{name}}-off" value="0" name="{{name}}" ng-model="modelField" type="radio" checked>
      <label for="{{name}}-off">Off</label>

      <input id="{{name}}-on" value="1" name="{{name}}" ng-model="modelField" type="radio">
      <label for="{{name}}-on">On</label>
      <span></span>
    </div>
  </div>
  <div class="large-10 small-8 columns">
    <p class="title">{{title}}</p>
    <div ng-transclude></div>
  </div>
</div>