RewriteEngine On

# Redirect feed
RewriteRule feed.ics handlers.php?f=downloadFeed [QSA]
RewriteRule test-cal.ics test-cal.php [QSA]

# Rewrite all requests without extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\..+$
RewriteRule ^(.*)$ /$1.html [L,QSA]

# Rewrite old domain to new domain
RewriteCond %{HTTP_HOST} ^freedom.gopagoda.com$ [NC]
RewriteRule ^(.*)$ http://freedom.konscript.com/$1 [R=301,L]