
<div class="page-content customize">
  <img src="img/spinner.gif" class="loading-spinner" ng-hide="facebookAuthenticated">

  <form action="settings.php" method="post" class="row settings-container"  ng-show="facebookAuthenticated">
    <div class="large-4 small-12 columns rsvp sidebar">
      <p class="header">RSVP</p>
      <p class="help-text">Decide which type of events you want in your calendar</p>
    </div>
    <div class="large-8 small-12 columns rsvp content">
      <div class="row">

        <!-- Attending -->
        <form-switch title="Events you are 'Attending'" name="attending_events" model-field="data.attending_events"></form-switch>

        <!-- Maybe attending -->
        <form-switch title="Event you are 'Maybe attending'" name="maybe_attending_events" model-field="data.maybe_attending_events"></form-switch>

        <!-- Not attending -->
        <form-switch title="Event you have declined" name="declined_events" model-field="data.declined_events"></form-switch>

        <!-- not-replied -->
        <form-switch title="Events you have not yet responded" name="not_replied_events" model-field="data.not_replied_events">
          <a ng-class="{disabled: data.not_replied_events == 0}" ng-click="openDialog('dialog-not-replied')" class="edit">Edit</a>
        </form-switch>

      </div> <!-- End row -->
    </div> <!-- End .rsvp-content -->

    <!-- New sidebar -->
    <div class="large-4 small-12 columns birthday sidebar">
      <p class="header">Birthdays</p>
      <p class="help-text">Never forget a friends birthday again. Put them in your calendar</p>
    </div>
    <div class="large-8 small-12 columns birthday content">
      <div class="row">

        <!-- Birthday -->
        <form-switch title="Your friends birthdays" name="birthday_events" model-field="data.birthday_events">
          <a ng-class="{disabled: data.birthday_events == 0}" ng-click="openDialog('dialog-birthday')" class="edit">Edit</a>
        </form-switch>

      </div>
    </div>
  </form>

  <dialog options="{}" id="dialog-not-replied" title="Friends you will receive invitation from in your calendar" empty-selected-friends="You will receive invitations from all your friends until you add at least one"></dialog>

  <dialog options="{}" id="dialog-birthday" title="Friends you will see birthday reminders from in your calendar" empty-selected-friends="You will see birthday reminders for all your friends until you add at least one friend"></dialog>

</div>
