<div ng-class="{loading: autocompleteDataLoading == true}">
  <div class="dialog-search-bar">
    <input ng-attr-placeholder="{{autocompleteDataLoading && 'Loading - please wait!' || 'Search...' }}" auto-complete>
  </div>

  <div class="dialog-selected-friends">
    <div class="loading-spinner">
      <img src="img/spinner.gif" ng-show="autocompleteDataLoading">
    </div>
    <div class="empty-selected-friends-text" ng-show="!getSelectedFacebookFriends().length && !autocompleteDataLoading">
      {{emptySelectedFriends}}
    </div>
    <div class="dialog-selected-friend" ng-repeat="(index, friend) in getSelectedFacebookFriends()">
      <div class="picture" ng-click="removeSelectedFacebookFriend()">
        <img ng-src="{{friend.picture.data.url}}"/>
        <p class="remove">Remove</p>
      </div>
      <div class="friend-name">
        {{friend.name}}
      </div>
    </div>
  </div>
</div>