<div ng-repeat="event in events">
  <div class="event">
    <div class="date small-text" ng-bind="event.start_time | date:'EEEE, MMMM d, y'"></div>
    <div class="event-info">
      <div class="time small-text" ng-bind="event.start_time | date:'shortTime'"></div>
      <div class="cover"><img width="100" ng-src="{{event.cover.source}}"/></div>
      <div class="right-container">
        <a class="name" ng-href="http://www.facebook.com/{{event.id}}" ng-bind="event.name"></a>
        <div class="location" ng-bind="event.location"></div>
      </div>
    </div>

  </div>
</div>

<div class="spinner" is-loading="isLoading"></div>
