<ul class="">
  <li class="step" ng-class="{active: step == '1'}">
    <h3><span>1</span></h3>
    <div class="content">
      <a href ng-click="connectWithFacebook()" class="button">Login with Facebook</a>
      <p>I won't post anything to your wall</p>
    </div>
    <div class="error-message small-text" ng-show="errorMessage">
      <div ng-bind="errorMessage"></div>
      <a href="#" data-uv-trigger>Click here</a>﻿﻿ to send me a message about it.
    </div>
  </li>
  <li class="step" ng-class="{active: step == '2'}">
    <h3><span>2</span></h3>
    <div class="content">
      <a ng-href="{{googleButtonHref}}" target="_blank" ng-click="addToCalendarGoogle()" class="button">Add to Google Calendar</a>
      <p ng-hide="isAndroid()">or <a ng-href="{{downloadFeedHref}}" ng-click="addToCalendarDownload()">download</a> to iCalendar/Outlook</p>
    </div>
  </li>
  <li class="step" ng-class="{active: step == '3'}">
    <h3><span>3</span></h3>
    <div class="content">
      <div class="fb-like"><img src="img/fb_like.png" alt="Success!"></div>
      <p>Good job! Your Facebook events will appear within a few hours. If you want, you can <a href="#/customize">customize</a> what should be synced.</p>
    </div>
  </li>
</ul> <!-- End of step wizard -->
